.tab-list .fade-exit {
  opacity: 1;
  transform: scale(1);
  left: -100%;
}

.tab-list .fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  left: 0;
  transition:
    opacity 300ms,
    left 300ms,
    transform 300ms;
}
