.router-tab-box {
  background-color: #fafafa;
  color: #999;
  cursor: pointer;
  .router-tab-icon {
    flex-basis: 20px;
    padding-left: 8px;
    font-size: 12px;
    background: #fff;
    z-index: 2;
    box-sizing: content-box;
  }
}
.tab-item-divider {
  margin: 0;
  height: 20px;
  background: #ddd;
}
.tab-item {
  display: inline-block;
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  user-select: none;
  &:hover {
    color: #4096ff;
  }
  .tab-item-icon {
    color: #999;
    margin-left: 8px;
    padding: 2px;
    transition: color 0.3s;
    font-size: 12px;
    &:hover {
      color: #000;
    }
  }
}
