.router-tab-box {
  cursor: pointer;
  .router-tab-icon {
    flex-basis: 20px;
    padding-left: 8px;
    font-size: 12px;
    z-index: 2;
    box-sizing: content-box;
  }
}
.tab-item-divider {
  margin: 0;
  height: 20px;
  background: #ddd;
}
.tab-item {
  display: inline-block;
  user-select: none;
  .tab-item-icon {
    margin-left: 8px;
    padding: 2px;
    transition: color 0.3s;
    font-size: 12px;
  }
}
